#root, html, body {
    position: relative;
    background: #9A8AFF;
    text-align: center;
    height: 100%
}

.content {
    position: absolute;
    top: 25%; left: 50%;
    transform: translate(-50%,-50%);
    padding: 3rem
}